/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #FFF;
}
p {
  line-height: 2rem;
  margin: 3rem;
}
.breathe {
  padding-top: 1em;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}
.link {
  color: #039be5;
}
.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .center-small {
    margin: auto;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
#index-banner {
  min-height: 500px;
}
.vert {
  padding-top: 5em;
}
.darken {
  opacity: .75;
}
.h1-pad-bot {
  padding-bottom: .5em;
}
.me {
  min-height: 300px;
}
.shadow {
  text-shadow: 3px 1px 1px #696969;
}
.card-content {
  min-height: 100px;
  max-height: 100%;
}

.wide {
  width: 100%;
  height: 100%;
}
.viewable {
  background-color: rgba(0,0,0,0.7);
  border-radius: 3px;
  padding: 0.3em;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #039be5;
  font-weight: bolder;
}
.inner-card-expand-w{
  padding-left: -2em;
  padding-right: -2em;
}
