.postimg {
  max-width:100%;
  max-height:100%;
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('./images/cfk-new.JPG') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-mini-footer {
  padding: 15px 15px;
}
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

@media (min-width: 1366px) and (max-resolution: 1.5dppx) {
  .page-content  {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.3%;
  }
}
