body{
  background-color: var(--light-tertiary-color);
}

.card.large {
  height: 600px;
}

.card.small .card-image+.card-content, .card.medium .card-image+.card-content, .card.large .card-image+.card-content{
  max-height: 300px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  color: #ee6e73;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover{
  color: rgba(238,110,115,0.7);
}

/* Styling for mobile devices */
@media (max-width: 33em )
{
  .card.large {
    height: 600px;
  }
  .card.small .card-image+.card-content, .card.medium .card-image+.card-content, .card.large .card-image+.card-content{
    max-height: 300px;
  }
}
