:root {
    --main-color: #471c1c;
    --light-main-color: #9a8383;
    --logo-color: #ffff;
    --lg-bttn-color: #a85548;
    --lg-bttn-hover-color: #8a463b;
    --lg-bttn-txt-color: #f7ecd6;
    --tertiary-color: #faecd7;
    --light-tertiary-color: #FCF6EC;
    --footer-accent-color: #311010;
}

body {
    font-family: Roboto;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: lighter;
}

p {
    font-size: 1.2em;
}

.blur {
    filter: blur(70);
    filter: brightness(70%);
}

.brand-logo {
    font-family: Roboto;
    font-weight: lighter;
    color: var(--logo-color) !important;
}

.parallax-bttn .btn:hover,
.btn-large:hover,
.btn:hover {
    background-color: var(--lg-bttn-hover-color) !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #ee6e73;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: rgba(238, 110, 115, 0.7);
}

.card-img-med {
    max-height: 500px;
    width: 100%;
}

.card-panel {
    margin: 0 !important;
}

.card-title {
    font-weight: 600;
}

.contact-bg {
    background-image: url("../img/pile-of-wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-footer {
    background: var(--main-color) !important;
}

.footer-copyright {
    background: var(--footer-accent-color) !important;
    margin-top: 1em;
}

.formatted-container{
  padding-top: 4em;
  padding-bottom: 4em;
}

.full-width {
    width: 100%;
}

.h-link {
    text-decoration: underline;
    color: inherit;
}

.header {
    font-weight: 600;
}

.image-card {
    width: 100%;
}

.menu {
    background: var(--main-color);
}

.menu-item-padding {
    padding-left: 2em;
    padding-right: 2em;
}

.menu-divider-padding {
    padding-top: 1em;
    padding-bottom: 1em;
}

.modal-description-font {
    font-size: 1.4em;
}

.parallax-bttn {
    background-color: var(--lg-bttn-color);
    color: var(--lg-bttn-txt-color);
    font-weight: bolder;
}

.parallax-header {
    font-size: 4.7em;
}

.parallax-text {
    font-size: 2em;
}

.padding {
    padding-bottom: 8.5em;
}

.parallax-container {
    height: 600px;
}

.parallax-feature {
    height: 700px;
}

.parallax-medium {
    height: 500px;
}

.parallax-micro {
    height: 300px;
}

.parallax-mini-mobile {
    height: 500px;
}

.pad-p-top {
    padding-top: .5em;
}

.pad-top-more {
    padding-top: 1em;
}

.social {
    padding-right: 1em
}
.text-shadow {
    text-shadow: 2px 2px 6px #000000;
}


/* Styling for mobile devices */

@media (max-width: 33em) {
    .mobile-title {
        font-size: 2.5em;
    }
    .parallax-mini-mobile {
        height: 300px;
    }
    .parallax-header {
        font-size: 2em;
    }
    .parallax-text {
        font-size: 1.7em;
    }
}
