input[type='button'][disabled], input[type='submit'][disabled] {
	opacity: .25;
	font-style: italic;
}

form[name="polls"] input[type="radio"], form[name="polls"] label {
    max-width: 85%;
    text-align: left;
    vertical-align: text-top;
    line-height: 1.5em;
}

form[name="polls"] input[type="radio"] {
    margin-top: 7px;
    margin-right: 5px;
}

#forums {
 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

@-moz-document url-prefix() {
  #forums {
	word-break: normal;
  }
}

td.body > div {
	max-width: 675px !important;
}

.small {
	font-size: 8px;
}

span.size1 {
	font-size:.75em;
}

span.size2 {
	font-size:1em;
}

span.size3 {
	font-size:1.25em;
}

span.size4 {
	font-size:1.5em;
}

span.size5 {
	font-size:1.75em;
}

span.size6 {
	font-size:2em;
}

span.size7 {
	font-size:2.25em;
}

span.size8 {
	font-size:2.5em;
}

span.size9 {
	font-size:2.75em;
}

span.size10 {
	font-size:3em;
}

span[style^="font-size"] {
	line-height: 120%;
}

a {
	cursor: pointer;
}

img[src^="static/common/symbols/bacon"] { /* Bacon Icons */
	margin: -2px 0;
}

img[src='http://i.imgur.com/vAEx3lb.png'], img[src='common/symbols/warned.png'], img[src='common/symbols/disabled.png'] { /* Warning and Disabled */

}

/* Vanity */
img[src='http://i.imgur.com/vAEx3lb.png'],
img[src='common/symbols/warned.png'],
img[src='common/symbols/disabled.png'],
img[src='http://i.imgur.com/iHdiDDW.png'],	/* Active Interviewer */
img[src='http://i.imgur.com/hCyGS9Q.png'], /* Inactive Interviewer */
img[src='http://i.imgur.com/t8Mytry.png'], /* Trophy Interviewer */
img[src='https://images.baconbits.org/images/tgV42.png'] { /* Hemlocke's Book Icon */
	padding: 0 2px;
	vertical-align: bottom;
	margin-top: -2px;
	margin-bottom: -2px;
}

img[src='http://i.imgur.com/vAEx3lb.png'],
img[src='common/symbols/warned.png'],
img[src='common/symbols/disabled.png'] {
	margin-bottom: 2px;
	margin-top: -2px;
}

img[src='http://i.imgur.com/4IdRsSf.png'] {	/* Interview Sheriff */
	padding: 0 1px 0 0;
	vertical-align: baseline;
}

img[src='http://i.imgur.com/yxIqa.png'] { /* Wonka's Music Icon */
	width:0px;
	height:0px;
	padding-left:16px;
	padding-top:19px;
	background: url(https://images.baconbits.org/images/VRJpn.png) no-repeat;
	vertical-align: baseline;
}

a[href='user.php?id=16803'] + img[src^='static/common/symbols/bacon'] {
	width: 0px;
	height: 0px;
	padding-left: 16px;
	padding-top: 19px;
	background: url(usericons/xnomad.png) no-repeat;
	vertical-align: baseline;
}

a[href='user.php?id=17777'] + img[src^='static/common/symbols/bacon'] { /* eeeeve */
	width: 0px;
	height: 0px;
	padding-left: 17px;
	padding-top: 19px;
	background: url(usericons/poop.png) no-repeat center center / 20px;
	vertical-align: middle;
}

a[href='user.php?id=10819'] + img[src^='static/common/symbols/bacon'] { /* cook */
	width: 0px;
	height: 0px;
	padding-left: 20px;
	padding-top: 16px;
	background: url(usericons/knife.png) no-repeat center center / 16px;
	vertical-align: middle;
}

a[href='user.php?id=15917'] + img[src^='static/common/symbols/bacon'] { /* WTFerret */
	width: 0px;
	height: 0px;
	padding-left: 16px;
	padding-top: 16px;
	background: url(usericons/beer.png) no-repeat center center / 16px;
	vertical-align: middle;
}

a[href='user.php?id=3161'] + img[src^='static/common/symbols/bacon'] { /* fiver22 */
	width: 0px;
	height: 0px;
	padding: 8px 4px 8px 8px;
	background: url(usericons/cat.png) no-repeat center center / 16px;
	vertical-align: middle;
}

a[href='user.php?id=13791'] + img[src^='static/common/symbols/bacon'] {
	width: 0px;
	height: 0px;
	margin-right: 3px;
	padding-left: 26px;
	padding-top: 19px;
	background: url(usericons/wonderbreadz.png) no-repeat;
	vertical-align: bottom;
}

a[href='user.php?id=10102'] ~ span.user_class,
a[href='user.php?id=13482'] ~ span.user_class {
    color: transparent;
    font-size: 0;
}

a[href='user.php?id=10102'] ~ span.user_class:after { /* skettios */
    content: 'Torrent Lizzy McGuire';
    color: #4ECDC4;
    font-size: initial;
}

a[href='user.php?id=10102'] ~ span.user_class:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 31px;
	height: 20px;
	background: url('usericons/lizard.gif') no-repeat;
	background-size: 31px;
	vertical-align: baseline;
}

a[href='user.php?id=13482'] ~ span.user_class:after { /* Coruscating */
    content: 'Torrent Pastor';
    color: #d7598b;
    font-size: initial;
}

a[href='user.php?id=13482'] ~ span.user_class:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 21px;
	height: 20px;
	background: url('usericons/pastor.png') no-repeat;
	vertical-align: baseline;
}

/* Collections */

.collection_title {
	margin: 0px 0 20px 0 !important;
	padding: 5px !important;
	background: rgba(0,0,0,0.5);
}

.collection_title a {
	color: #fff;
}

#collections #content {
	margin: 50px auto 0 auto;
	-moz-column-gap: 15px;
	-moz-column-fill: auto;
	-webkit-column-gap: 15px;
	-webkit-column-fill: auto;
	column-gap: 15px;
	column-fill: auto;
	min-width: 0 !important;
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count: 4;
}

#collections h2, #collections p {
	margin: 0 0 20px 0 !important;
	-webkit-column-span:all;
    -moz-column-span:all;
    column-span:all;
}

#collections h2 {
	text-align: left !important;
}

#collections br + p {
	-webkit-column-break-before: always;
	margin: 0px !important;
}


#collections p + form {
	-webkit-column-break-before: avoid !important;
}

#collections input[name='collection'] {
	width: 60%;
	left: -4px;
	position: relative;
}

.collection_image {
	max-height: 1000px !important;
}

.collection_image img {
	background-color: rgba(80,80,80,0.2);
	max-height: 2000px !important;
	overflow: hidden !important;
}

.collection_box {
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
	float: none !important;
	margin: 0 !important;
	text-align: left !important;
	height: auto !important;
	overflow: hidden !important;
}

.collection_image img, .collection_image, .collection_box {
	width: 201px !important;
	max-width:201px !important;
}

/* Make the avatar/thumbnail img fill the box better */
#user .sidebar img[alt$="avatar"], #torrents .sidebar img[width="220"] {
	width: 100%;
	height: auto;
}

.box_image div.head {
	display: none;
}

#torrents .sidebar .box p {
	margin: 0 !important;
}

/* Random Overrides and Spacing Fixes */
input[value='Toggle Visual'] { /* Not necessary, but if the buttons don't work consistently... no use keeping 'em */
	 display: none !important;
}

#torrents input#title {
	width: 649px;
}

#torrents input#author{
	width: 325px;
}

#forums td[style='width:380px;'] {
	width: 450px !important;
}

.forum_index td:nth-of-type(3), .forum_index td:nth-of-type(4) {
	text-align: center;
	white-space: nowrap;
}

#reports textarea[name='comment'], #reports textarea[name='extra'] {
	min-width: 625px !important;
}


#upload input[name='title'], #upload input[name='tags'], #upload textarea[id='desc'], #user textarea[name='info'] {
	min-width: 655px !important;
}

#upload textarea[id='desc'], #reports textarea[name='comment']:focus, #reports textarea[name='extra']:focus {
	min-height: 255px !important;
}

#upload input[size='71'] {
	width: 692px !important;
	text-align: center;
}

#user input#cur_pass, #user input#new_pass_1, #user input#new_pass_2, #user input#irckey, #user input#avatar, #user input#email {
	width: 327px;
}

#user input#styleurl {
	width: 439px !important;
}

/* Movie Night IMDB and RT images look bad with display:block */
.forum_post img[src='https://images.baconbits.org/images/SxalU.png'], .forum_post img[src='https://images.baconbits.org/images/pUVK.png'] {
	display: inline !important;
	position: relative;
	top: -15px;
	left: 122px;
	padding: 0 72px;
}

/* Reset Movie Night IMDB/RT when centered */
.bbcode_center .forum_post img[src='https://images.baconbits.org/images/SxalU.png'], .bbcode_center .forum_post img[src='https://images.baconbits.org/images/pUVK.png'] {
	display: block !important;
	top: 0px;
	left: 0px;
}

.show_torrents_link {
	border:none;
	display:block;
	height:28px;
	width:28px;
}

.hide_torrents{
	background:transparent url(images/plus.gif) center center no-repeat;
}

.show_torrents{
	background:transparent url(images/minus.gif) center center no-repeat;
}

.filter_torrents {
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	width:750px;
}

.filter_torrents .submit {
	padding-top:5px;
	text-align:right;
}

.filter_torrents .inputtext {
	width:400px;
}

.filter_torrents .smaller {
	width:300px;
}

.filter_torrents .smallest {
	width:50px;
}

.filter_torrents option {
	padding-right:8px;
}

.torrent_table, #tickets #content .content table, #torrents table.border {
	margin: 1px auto 8px auto;
	max-width:1200px;
}

#tickets select[multiple="multiple"] option {
    padding: 5px 11px;
}

#tickets select[multiple="multiple"] {
    padding: 0;
    margin-right: 20px;
}

#tickets td:nth-of-type(n+4) {
    white-space: nowrap;
}

.collage {
	margin-bottom:20px;
	margin-top:1px;
}

.torrent_table tr {
	vertical-align:top;
}

/* Ratio */
#ratiopipe, #userinfo_stats li:nth-child(5) {
	display: none !important;
}

#userinfo_stats li:nth-child(1) .stat {
	padding: 0px;
}
#userinfo_stats li:nth-child(1) .stat::after {
	content: ' / '
}

#userinfo_stats li:nth-child(2) .stat::after {
	content: ' ='
}

.hidden {
	left:-10000px;
	position:absolute;
}

input.hidden {
	display:none;
	position:absolute;
}

input[type='text'],input[type='password'] {
	padding:3px;
}

pre[style] {
	overflow-x: auto !important;
}

#forums pre {
	max-width: 675px !important;
}

pre {
	max-width: 550px !important;
	word-break: normal;
	-ms-word-break: normal;
}

blockquote.mediainfo_raw {
    padding: 10px;
    margin-right: 0px;
}

ul ul {
	margin-left:20px;
}

strike {
	opacity: 0.5;
}

textarea, input {
	padding:2px 3px;
}

textarea {
	max-width: 95%;
	width: 95%;
	margin: 10px 0;
}

ul.thin {
	margin:0 0 0 25px;
	padding:0;
}

#footer {
	margin-top:20px;
	text-align:center;
	padding:5px 10px 10px;
}

#content {
	min-width:850px;
	max-width:1200px;
	min-height:100%;
	height:auto !important;
	overflow:hidden;
	margin:25px auto 50px auto;
}

/* Upload */
#userinfo_major a:nth-child(1) {
	padding-right: 15px;
}

/* Invite */
#userinfo_major li.invites a {
	padding-right: 10px;
}

#userinfo_major li.invites a:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	position: absolute;
}

#userinfo_major li.invites a:hover:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	position: absolute;
}

#userinfo_major li.invites.enabled a:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	position: absolute;
}

#userinfo_major li.invites.enabled a:hover:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	position: absolute;
}

#userinfo_major li.invites a span {
	font-size: 11px !important;
	padding-left: 16px;
	margin-right: -9px;
}

td.body {
	padding:10px;
}

#menu ul li a:active, .hide_torrents a, .show_torrents a {
	outline:none;
}

.stat, #userinfo {
	font-size: 11px;
}

#userinfo_stats li, #userinfo_minor li a {
	visibility: hidden;
	width:0;
}

#userinfo_stats .stat, #userinfo_major a {
	visibility: visible;
}

#userinfo_minor li a {
	margin-top:50px;
}

/* Inbox */
#userinfo_minor li:nth-child(1) a:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
}

#userinfo_minor li:nth-child(1) a:hover:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
}

/* Uploads */
#userinfo_minor li:nth-child(2) a:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
}

#userinfo_minor li:nth-child(2) a:hover:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
}

/* Bookmarks */
#userinfo_minor li:nth-child(3) a:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
}

#userinfo_minor li:nth-child(3) a:hover:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
}

/* Notifications */
#userinfo_minor li:nth-child(4) a:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
}

#userinfo_minor li:nth-child(4) a:hover:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
}

/* Posts */
#userinfo_minor li:nth-child(5) a:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
}

#userinfo_minor li:nth-child(5) a:hover:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
}

/* Friends */
#userinfo_minor li:nth-child(6) a:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
}

#userinfo_minor li:nth-child(6) a:hover:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
}

/* Quote - Forums */
.forum_post span a[href='#quickpost'] {
	position: absolute;
	left: 824px;
	top: 3px;
}

	/* Quote - Torrents */
	#torrents .forum_post span a[href='#quickpost'] {
		position: absolute;
		left: 564px;
		top: 3px;
	}

.forum_post span a[href='#quickpost']:before {
	visibility: visible;
	content: '';
	display: inline-block;
	background-repeat: no-repeat !important;
	width: 14px;
	height: 14px;
}

.forum_post span a[href='#quickpost']:hover:before {
	visibility: visible;
	content: '';
	display: inline-block;
	background: url(https://images.baconbits.org/images/xzvah.png) -158px -0px;
	background-repeat: no-repeat !important;
	width: 14px;
	height: 14px;
}

/* Edit - Forums */
.forum_post a[onclick*='Edit_Form'] {
	position: absolute;
	left: 804px;
	top: 3px;
}

	/* Edit - Torrent Comments */
	#torrents .forum_post a[onclick*='Edit_Form'] {
		position: absolute;
		left: 544px;
		top: 3px;
	}

.forum_post a[onclick*='Edit_Form']:before {
	visibility: visible;
	content: '';
	display: inline-block;
	background-repeat: no-repeat !important;
	width: 12px;
	height: 14px;
}

.forum_post a[onclick*='Edit_Form']:hover:before {
	visibility: visible;
	content: '';
	display: inline-block;
	background-repeat: no-repeat !important;
	width: 12px;
	height: 14px;
}

/* Delete - Forums */
.forum_post a[onclick*='Delete'] {
	position: absolute;
	left: 782px;
	top: 3px;
}

	/* Delete - Torrent Comments */
	#torrents .forum_post a[onclick*='Delete'] {
		position: absolute;
		left: 522px;
		top: 3px;
	}

.forum_post a[onclick*='Delete']:before {
	visibility: visible;
	content: '';
	display: inline-block;
	background-repeat: no-repeat !important;
	width: 14px;
	height: 14px;
}

.forum_post a[onclick*='Delete']:hover:before {
	visibility: visible;
	content: '';
	display: inline-block;
	background-repeat: no-repeat !important;
	width: 14px;
	height: 14px;
}

/* Comments col on requests.php */
#requests tr.colhead_dark td:nth-child(9) strong:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
}

/* Points */
#userinfo_stats li:nth-child(7) .stat {
	visibility:visible;
}

#userinfo_stats li:nth-child(7) .stat a::after {
	content: ' points'
}

li.searchbars {
	float:left;
	font-size:11px;
	margin:16px 0 12px 25px;
}

#searchbars {
	text-align:center;
	width:100%;
	margin:0 auto;
}

#searchbars form {
	display:inline;
}

#searchbars ul li {
	display:inline;
	margin:0;
}

#discog_table {
	margin-top:1px;
}

.thin {
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	width:850px;
}

.right {
	text-align:right;
}

p.min_padding {
	margin:2px 0;
}

.pad {
	padding:1em;
}


.sidebar {
	float:right;
	width:250px;
}

.sidebar .box {
	margin:0 5px 10px;
}

.pad h3,.pad h4,.padbox h3,.padbox h4 {
	margin-top:0;
	padding-top:0;
}

div.body {
	padding:15px;
}

.main_column {
	max-width:2800px;
	margin:0 255px 10px 5px;
}

.tags {
	color:#777;
	font-style:normal;
	padding-top:2px;
}

.tags a {
	padding-top:2px;
	text-decoration:none;
}

ul.nobullet {
	list-style-type:none;
	padding-bottom:7px;
}

table {
	border-collapse:collapse;
	width:100%;
}

div.content table{ table-layout:fixed; }

td {
	text-align:left;
	padding:5px;
}

td.colhead,.colhead td {
	padding-left:5px;
	padding-right:10px;
	word-break: normal;
	position: relative;
}

.colhead .sign,.colhead_dark .sign {
	font-size:12pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	padding:0 8px;
}

td.label {
	font-weight:700;
	text-align:left;
	width:160px;
}

.box label,.pad label {
	text-align:center;
	width:100%;
}

.error_message {
	border:none;
	font-weight:700;
	text-align:center;
	padding:3px 0;
}

.save_message {
	font-weight:700;
	text-align:center;
	padding:3px 0;
	width: 850px;
	margin: 0 auto 15px auto;
}

.elem_error {
	border:3px solid #B00D0D;
}

.hide {
	display:none;
}

ul.stats li {
	margin-bottom:-3px;
	padding:0;
}

ul.bbcode_list {
	padding-left: 15px;
}

li {
	margin: 10px 15px;
}

ul.stats {
	margin-bottom:3px;
}

ul.stats li:last-of-type {
	margin-bottom: 8px;
}

li.artist_main {
	margin-bottom:-2px;
}

ul.poll li {
	margin:0;
	padding:0 0 0 10px;
}

ul.poll li.graph {
	margin: 3px 10px;
	width: 150px;
	height: 10px;
	border: 1px solid rgba(255,255,255,0.125);
	padding: 0;
}

.show_torrents_link {
	border:none;
	display:block;
	height:28px;
	width:28px;
}

.hide_torrents{
	background:transparent url(images/plus.gif) center center no-repeat;
}

.show_torrents{
	background:transparent url(images/minus.gif) center center no-repeat;
}

.filter_torrents {
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	width:750px;
}

.filter_torrents .submit {
	padding-top:5px;
	text-align:right;
}

.filter_torrents .inputtext {
	width:400px;
}

.filter_torrents .smaller {
	width:300px;
}

.filter_torrents .smallest {
	width:50px;
}

.filter_torrents option {
	padding-right:8px;
}

#discog_table {
	margin-top:1px;
}

.torrent_table, #tickets #content .content table, #torrents table.border {
	margin: 1px auto 8px auto;
	max-width:1200px;
}

#tickets #content .content table td:nth-child(1) {
	width: 50px;
}

#tickets #content .content table td:nth-child(3), #tickets #content .content table td:nth-child(4), #tickets #content .content table td:nth-child(6) {
	width: 130px;
}

#tickets #content .content table td:nth-child(5) {
	width: 35px;
}

.collage {
	margin-bottom:20px;
	margin-top:1px;
}

.torrent_table tr {
	vertical-align:top;
}

.group {
	padding:0 0 0 50px;
}

.group_torrent span {
	float:right;
}

.group_torrent td[colspan*='3'] {
	padding-left:77px;
}

.torrent span {
	float:right;
	font-weight:400;
}

.torrent_table div.tags {
	font-weight:400;
}

.torrent_table tr .center {
	text-align:center;
	vertical-align:middle;
}

.torrent_table td .small {
	width:20px;
}

.torrent_table table {
	width:96.6%;
	margin:10px 0 10px 10px;
	word-break: break-all;
}
}

.nobr {
	white-space:nowrap;
}

.advanced_search {
	padding-bottom:5px;
	text-align:right;
}

.last_edited {
    margin: 20px -10px -10px;
    padding: 5px 15px;
}

.custom_title:before {
    content: '';
}

.custom_title:before, .user_class:before, .custom_title:after, .user_class:after {
	content: '';
}

.custom_title:after {
	font-size: 11px;
	content: '·';
	padding: 2px 2px 2px 4px;
	top: -2px;
	font-family: Arial,Helvetica,sans-serif;
}

.forum_tree .section:after {
	content: ' › ';
}

table.forum_post {
	margin:10px 0;
}

.forum_post td.body a {
	text-decoration: underline;
}

td.avatar {
	width: 150px;
	padding: 0;
	z-index: 5;
}

.avatar img {
	z-index: 5;
	position: relative;
}

.forum_post .body img:not([src^='/static/common/smileys/']), .forum_post .body img[src='/static/common/smileys/goofynope.gif'] {
	margin: 0 auto !important;
	display: block;
}

table.forum_post td.body {
	width:690px;
}

table.forum_post .colhead_dark a {
	font-weight:700;
}

#forums .colhead_dark span, #requests .colhead_dark span {
	max-width: 770px;
	position: relative;
	width: 100%;
}

*,ul.thin li,.min_padding {
	margin:0;
	padding:0;
}

h2,.center {
	text-align:center;
}

img,#logo a:hover,.noborder,.cat_list tr td,.torrent_table a img {
	border:none;
}

.forum_post img.bbcode_img {
	max-width: 100%;
	width: auto;
	height: auto;
}

#forums img.bbcode_img {
	max-width: 677px !important;
	width: auto;
	height: auto;
}

#forums li img.bbcode_img {
	max-width: 630px !important;
	width: auto;
	height: auto;
}

#forums blockquote img.bbcode_img {
    max-width: 100% !important;
}

#torrents div > img.bbcode_img:first-child {
	padding-top: 10px;
}

strong.bbcode_quote {
	display: block;
}

* + strong.bbcode_quote {
	margin-top: 20px;
}

.select_container {
	margin:5px;
}

.permission_head {
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.permissions {
	margin-left:auto;
	margin-right:auto;
	width:930px;
}

.permission_container {
	float:left;
	width:300px;
	padding:5px;
}

.permission_container input {
	vertical-align:top;
	margin:0 3px 5px 0;
}

.submit_container {
	clear:both;
	text-align:right;
}

ul .invitetree {
	margin:0 0 0 25px;
}

.invitetree li {
	list-style:none outside none;
	margin:10px 2px;
}

#center_poll {
	height: 10px;
	float:left;
	margin:0;
	padding:0;
	background: rgba(255,255,255,0.125);
}

.curtain {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	z-index:1001;
	-moz-opacity:0.8px;
	opacity:.80;
	filter:alpha(opacity=80);
}

.lightbox {
	display:none;
	position:fixed;
	text-align:center;
	top:5%;
	left:5%;
	width:90%;
	height:90%;
	z-index:1002;
	overflow:auto;
	padding:0;
}

#userinfo_minor a {
	margin-left:7px;
}

img[src$='grey.png'],
img[src$='orangered.png'],
img[src$='go_last_read.png'],
img[src^='static/common/caticons/'],
img[src$='seeders.png'],
img[src$='leechers.png'],
img[src$='snatched.png'],
img[src$='comments.gif'],
img[src$='/misc/checked-true.png'],
img[src$='/misc/checked-false.png'],
img[src$='/misc/noimage.png'] {
	width:0px;
	height:0px;
}

img[src$='grey.png'],
img[src$='orangered.png']{
	margin-left:5px;
	padding-left:25px;
	padding-top:22px;
}

img[src$='go_last_read.png']{
	padding-left:11px;
	padding-top:9px;
}

img[src^='static/common/caticons/'] {
	padding-left:24px;
	padding-top:24px;
}

img[src$='seeders.png'],
img[src$='leechers.png'],
img[src$='snatched.png'],
img[src$='comments.gif'] {
	padding-left:15px;
	padding-top:15px;
}

img[src$='/misc/checked-true.png'],
img[src$='/misc/checked-false.png'] {
	padding-left:24px;
	padding-top:20px;
}

img[src$='/misc/noimage.png']{
	padding-left:220px;
	padding-top:232px;
	background:url(https://images.baconbits.org/images/5eS4n.png) no-repeat;
}

div.linkbox {
	margin-bottom:20px;
	margin-top:5px;
	text-align:center;
	padding:5px;
}

div.linkbox a {
	text-decoration:none;
	margin: 0 5px;
}

.vertical_space,.main_column .box,.main_column table {
	margin-bottom:10px;
}

table.slice,.cat_list {
	margin-top:-1px;
}

#userinfo a,.group_torrent a, .cat_list a, .cat_list a:hover {
	text-decoration:none;
}

div[class^="mediainfo_"] a {
    color: rgba(0,0,0,0.5);
}

.mediainfo_box_container {
	width: 100%;
	min-height: 102px;
	padding: 0px;
	word-wrap: break-word;
	overflow-y: overlay;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.05);
	margin: 5px auto 0;
	display: table;
}

.mediainfo_box_innerbox {
	display: table-cell;
	width: calc(100% / 3);
	vertical-align: top;
	float: left;
}

.mediainfo_box_ibhead {
	display: block;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);  padding: 2px;  box-sizing: border-box;
}

.mediainfo_box_ibbody {
	display: inline-block;
	font-size: 7pt;
	padding: 5px 10px 7px;
	font: 0.85rem/1.1rem monospace;
}

.mediainfo_box_sep {
	display: none;
}

.mediainfo_box_title {
	margin: 0px 10px;
	display: block;
}

.mediainfo_box_title ~ .small {
	margin-left: 10px;
}

.mediainfo_box_subtitles {
	margin: 0px auto;
	height: auto;
	padding: 2px;
	word-wrap: break-word;
	border: 0 !important;
}

.mediainfo_box_validity {
	margin: 0 auto !important;
	width: 100%;
	height: auto;
	padding: 2px;
	word-wrap: break-word;
	box-sizing: border-box;
	border: 0 !important;
}

.mediainfo_validity_header {
	color: #1f1608;
}

.mediainfo_validity_header a, .mediainfo_validity_header a:hover {
	color:#fff;
}

.mediainfo_validity_body {
	padding: 5px;
}

.mediainfo_hidden, #disclaimer_container {
	display: none;
}

#torrents ul.nobullet li {
	position: relative;
	margin: 0 !important;
}

#torrents ul.nobullet {
	padding-bottom: 0;
}

#torrents ul.stats li, #torrents ul.stats {
	margin: 0 !important;
}

#torrents ul.nobullet li a {
	opacity: 0.1;
	padding: 5px 10px;
	position: absolute;
}

#torrents ul.nobullet li a:nth-child(1) {
	opacity: 1;
	position: relative;
	max-width: 165px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

/* Tiny Little Icons */
#torrents ul.nobullet li a:nth-child(n+2):before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-top: 3px;
}

#torrents ul.nobullet li a:nth-child(2) {
	right: 32px;
}

#torrents ul.nobullet li a:nth-child(3) {
	right: 16px;
}

#torrents ul.nobullet li a:nth-child(4) {
	right: 0px;
}

#torrents ul.nobullet li a:nth-child(5) {
	right: 0px;
	display: none;
}

#torrents ul.nobullet li:hover a {
	opacity: 1;
}

#torrents .forum_post .colhead_dark span {
	max-width: 515px;
	position: relative;
	width: 100%;
}

#kb ul.nobullet li a {
	opacity: 1;
	padding-right: 0;
}

#torrents .sidebar form[action="torrents.php"]:after {
    content: 'Tags must be comma-separated. Use a period to separate words. Avoid using abbreviations if at all possible.';
    display: block;
    padding: 5px;
}

span.user_class.torrent_wizard:before {
	visibility: visible;
	content: '';
	display: inline-block;
	width: 20px;
	height: 16px;
	background: url('usericons/rainbowstar.gif') no-repeat;
	margin: -3px 1px;
}

td.body, div.box div.pad {
	font-size: 12px;
	line-height: 17px;
}

.bbcode_smiley {
	display: inline-block;
	margin-bottom: -6px;
	margin-top: -3px;
}

.brackets:before, .brackets_left:before, .brackets:after, .brackets_right:after, .octothorpe:before {
	content: '';
}

#user .sidebar div.box:last-of-type a {
	float: right;
}

hr {
	margin: 20px 0px 10px;
}

td.nobr {
	white-space: nowrap;
}

img + br + img {
margin-top: 10px;
}

.bbcode iframe {
display: block;
margin: 20px auto;
border: 1px solid rgba(255,255,255,0.35);
box-shadow: 0 0 10px rgba(255,255,255,0.25);
background: rgba(0,0,0,0.25);
}

input#irckey ~ br {
    display: none;
}

input#irckey {
    display: block;
}