
.jive-icon-facebook {
    background-image: url("../images/fb-icon.png");
    left: 10px;
    position: absolute;
    top: 8px;
    height: 25px;  
    margin: 0 6px 0 0;
    width: 25px;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    float: left;
    padding: 0;
}

#jive-facebook-link {
    background-color: #F5FAF0;
    background-image: none;
    border-color: #AABEE4;
    margin: 0 0 10px 2px;
    padding: 5px 10px;
    width: 330px;
}

#jive-facebook-link .jive-widget-body {
    color: #666666;
    line-height: 1.1667em;
    padding-left: 33px;
}

#jive-facebook-link .jive-widget-body a {
    font-size: 1.125em;
    font-weight: bold;
}
